{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>


<body>
<div class="w3-margin-left">
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <p>{% if message.tags %}{% endif %}{{ message }}</p>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% else %}
    <div class="w3-margin-left">
    <h2>OPS! You are not logged in</h2>
    <button type="submit"><a href="{% url 'login' %}" style="text-decoration:none">Login</a></button>
    </div>
</div>
{% endif %}
{% endblock %}